# JetBrains settings directory
.idea

# Visual Studio Code settings derectory
.vscode

# Log directory
**/log

# Virtual python environment
/venv

# MacOS specific files
.DS_Store

# Executable files
main
launcher

# Tarantool files
0*