.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 130px;
  border-bottom: 1px solid #E2E3E3;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.menu {
  ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  li {
    display: flex;
    height: 60px;
    margin-right: 35px;
    align-items: center;
    cursor: pointer;

    &:hover {
      font-weight: 700;
      border-bottom: 2px solid #FF7712;
    }

    :after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 35px;
}
