.date {
  min-width: 160px;

  @media (max-width: 1366px) {
    min-width: auto;
  }
}

.review {
  text-align: center;
  opacity: 0.5;

  &.active {
    color: #087FFF;
    cursor: pointer;
  }
}
