.request {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  text-align: center;
  padding: 10px 30px;
  border: 1px solid #D4D9DC;
  height: 60px;
  text-decoration: none;
  color: #000;

  &.minimal {
    grid-template-columns: 0.5fr 1fr 1fr;
  }

  &.active {
    background-color: #F2F8FF;
  }

  &:visited {
    color: #000;
  }

  td {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 auto;
    font-size: 18px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;

    &.abnormal {
      background-color: #FFEAEA;
      padding: 0 10px;
    }

    @media (max-width: 1366px) {
      max-width: 200px;
    }

    @media (max-width: 1200px) {
      max-width: 170px;
    }
  }

  @media (max-width: 1200px) {
    padding: 10px;
  }
}
